<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" type="" modules="FastCgiModule" scriptProcessor="D:\PHP\5.6\php-cgi.exe|-d phpd=D:\home\derpislands.com\wwwroot" resourceType="Either" requireAccess="Script" allowPathInfo="false" preCondition="" responseBufferLimit="4194304" />
        </handlers>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.jsp" />
                <add value="index.cfm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
                <add value="index.html" />
                <add value="index.asp" />
                <add value="index.aspx" />
                <add value="index.cgi" />
                <add value="default.html" />
                <add value="home.htm" />
                <add value="home.html" />
                <add value="home.asp" />
                <add value="home.php" />
                <add value="default.stm" />
                <add value="default.shtml" />
                <add value="default.php" />
                <add value="index.stm" />
                <add value="index.shtml" />
                <add value="home.stm" />
                <add value="home.shtml" />
                <add value="index.shtm" />
                <add value="_holding.htm" />
                <add value="_holding.asp" />
                <add value="_holding.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules><rule name="HTTPS force" enabled="true" stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                <add input="{HTTPS}" pattern="^OFF$" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
            </rule>
                <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
